<div class='card'>
	<div class='card-header listofProduct'>
		List of Product Page
	</div>
	<div class='card-body'>
		<div class='row'>
			<div class='col-md-2'>Filter by:</div>
			<div class='col-md-4'>
				<select>
					<option>Choosing</option>
					<option>Jotaro!!</option>
					<option>Dio!!</option>
				</select>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-2'>Filtered by :</div>
			<div class="col-md-4">
				<input type="text" [(ngModel)]="inputSearch">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				Filtered by {{ inputSearch }}
			</div>
		</div>

		<div class='table-responsive'>
			<table class='table'>
				<thead>
					<tr>
						<th>
							<button class='btn btn-primary'>
								Product Image
							</button>
						</th>
						<th>Product Code</th>
						<th>Product Name</th>
						<th>Price</th>
						<th>Available</th>
						<th>Rating</th>
					</tr>
				</thead>
				<tbody *ngIf="productList.length > 0">
					<tr *ngFor="let product of productList | filterbyName: inputSearch">
						<th><a href="">{{ product.imageUrl }}</a></th>
						<th>{{ product.code }}</th>
						<th>{{ product.name | uppercase | productName }}</th>
						<th>{{ product.price | number: "1.2" }}</th> <!-- 2 decimal point -->
						<th *ngIf="product.available">Yes</th> <!-- product available -->
						<th *ngIf="!product.available">No</th> <!-- product unavailable -->
						<th>
							<app-rating [rating]="product.rating" (ratingClicked)="onRatingClicked($event)">
							</app-rating>
						</th>
					</tr>
				</tbody>
				<tbody *ngIf="productList.length == 0">
					<tr>
						<th></th>
						<th></th>
						<th style="color: red;">Product data is empty.</th>
						<th></th>
						<th></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>